*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: olive;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-top: 40px;
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    background: white;
    margin: 50px 0 0 30px;
    padding: 15px; 
    width: 500px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #4F4F4F;
}

.numero {
    border: 1px solid; 
    border-radius: 5px;
    padding: 5px; /* Adiciona espaçamento interno */
    font-size: 16px;
    margin: 4px 0 4px 0;   
    width: 50%;
}

.addButton { 
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px; /* Adiciona espaçamento interno */
    font-size: 16px;
    width: 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover{
    background-color: #4F4F4F; 
}

select {
    border: none;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px 0 10px 0;
}

button:hover {
    background-color: #4F4F4F; 
}

.button-container{
    text-align: center; 
    margin-top: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-style: italic;
    padding: 10px;
    bottom: 0;
    position: fixed;
}